ul {
  list-style-type: none;
}
*{
  margin: 0px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.nav:hover::after{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: rgb(233, 14, 79);
  width: 100%;
  animation: underlineAnimation 0.5s ease-in;
}
.nav:hover{
  cursor: pointer;
}
@keyframes underlineAnimation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
li {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 4px 16px;
  font-size: larger;
  position: relative;
  padding-bottom: 4px;
}
body {
  background-color:rgb(0, 0, 0);
  color: white;
  padding: 20px;
}
#mode {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:rgb(233, 14, 79) ;
}
#email a {
  text-decoration: none;
  color: rgb(233, 14, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 14px 16px;
  font-size: larger;
}
#email{
  float: left;
}
#email:hover {
  cursor: pointer;
}
#mailicon{
  color: rgb(59, 57, 57);
}
.image{
  width: 500px;
  height: 600px;
  border-radius: 50%;
  float: right;
  object-fit: cover;
  box-shadow: 0 0 50px rgb(233, 14, 79);
  margin-top: 28px;
}
.text{
  float: left;
}
#p2{
  font-size: 72px;
  color: rgb(233, 14, 79);
  margin-left: 199px;
  font-weight: 4000;
}
#p1{
  margin-top: 150px;
  margin-left: 200px;
  display: flex;
}
.mail{
  text-decoration: none;
  color:white;
  font-size: larger;
  float: left;
  font-weight: bold;
}
#typing-animation {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20, end) infinite;
}

#typing-animation:before {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  margin-left: 200px;
  background-color: #ccc;
  animation: typing-cursor 0.9s ease-in-out infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing-cursor {
  from {
    width: 5px;
  }

  to {
    width: 0;
  }
}